@import url("./reset.css");

html {
    width: 100%;
}
body {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    background-color: #cccccc;
    color: #ffffff;
    box-sizing: border-box;
}

.menu {
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
    height: 3rem;
    width: 100%;
    padding: 20px 10px;
    gap: 20px;
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
    
}
.menu__logo img {
    width: 100%;
    object-fit: scale-down;
}
.menu__logo {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
    margin-right: 1rem;
}
.menu__link {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}
.menu__btn {
    border: none;
    border-radius: 30px;
    padding: 8px 10px;
    width: 170px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #b535f6;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 100px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradient-background 10s  ease infinite alternate;
}
.header::after {
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, #000000, transparent);
}
.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 5px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding: 20px 10px;
    margin-bottom: 20px;
}
.container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.header__text--small {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 45px;
    padding: 0 20px;
}
.header__text--large {
    font-weight: bold;
    font-size: 3rem;
}
.divider {
    width: 55%;
    height: 5px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #5516ba, rgba(255, 0, 229, 0.5) 80%);
}
.content__txt--small {
    font-size: 1.25rem;
    font-family: "Quicksand", sans-serif;
}
.content__txt--large {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.content__text--smaller {
    font-size: 1rem;
    font-weight: normal;
}
.btn {
    background: linear-gradient(60deg, #9b34ef 5%, #490cb0 50%, transparent 105%);
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: .9rem;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    width: 25vw;
    padding: 15px 20px;
    margin: 30px auto;
    letter-spacing: 3px;
}
.header__btn {
      width: 12vw;
}
.obs__text {
    padding: 20px 0;
    width: 15vw;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    margin-bottom: 250px;
}
main {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
.main__text--large {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
.main__cards {
    display: flex;
    gap: 40px;
    margin-bottom: 150px;
}
.card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, transparent, #3b1e63);
    border-radius: 10px;
    width: 25vw;
    padding: 50px;
    margin-bottom: 20px;
}
.text__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.card__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.card__txt--title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 8px;
}
.card__txt--large {
    color: #ff00e5;
    font-weight: 600;
    font-size: 2rem;
}
.card__text--smaller {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
}
.sub__description::marker {
    content: "+";
    font-size: 2em;
    margin: 0 8px 0 0;

}
.sub__description {
    font-size: 1.25rem;
    padding:0 0 20px 15px;
}
.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 100px auto;
    width: 100%;
}
.content__container {
    display: grid;
    grid-template-columns: repeat(3, 353px);
    grid-template-rows: repeat(2, 530px);
    grid-auto-flow: column;
    gap: 40px;
}
.content__card img {
    box-sizing: border-box;
    width: 353px;
    text-align: center;
}
footer p {
    text-align: center;
    color: #9e86ff;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 100;
}
.footer__nav {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-bottom: 20px;
}
.footer__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #9e86ff;
}
.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 40px;
    margin: 60px auto 0px auto;
}



@keyframes gradient-background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}